
  <div class="card-header text-uppercase"><b><% if can? :edit, @project %>
        <% if defined? project %>
            <%= link_to 'New team', new_project_team_path(project), :remote => false, :class => 'dashed_link transition new-team' %>
        <% end %>
    <% end %></b></div>
  <div class="items-list">
    <% assignables = Team.assignable_by_user(current_user).collect(&:id) %>
    <% teams.unarchived.each do |team| %>
      <div class="il-item">
        <a class="text-black" href="#">
          <div class="media">
            <div class="media-body">
              <div class="col-sm-1">
                <%= image_tag(team.image.icon) %>
              </div>
              <div class="col-sm-5">
                <h6 class="media-heading">
                  <%= link_to team.name, team_path(team), :remote => false, :class => 'grey-link' %>
                </h6>
              </div>
              <div class="col-sm-6">
                <span class="media-heading right">
                  <span class="tag tag-teams"><%= team.members_count %> <i class="material-icons">people</i></span>
                  <a href="#" data-options="align:left" data-dropdown="drop<%= team.id %>" class="dropdown right">
                    <i class="material-icons md-18">more_vert</i>
                  </a>
                  <ul id="drop<%= team.id %>" data-dropdown-content class="f-dropdown">
                    <li>
                      <% if assignables.include?(team.id) %>
                          <%= link_to 'Add task', new_task_path(:team_id => team.id), :remote => false %>
                      <% end %>
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>

