<div class="pane2-meta">
  <div class="title">Teams</div>
</div>
<div class="pane2-content">
  <% teams.unarchived.each do |team| %>
    <%= link_to team_path(team), :remote => false do %>
      <div class="project card-transparent transition prj-<%= team.id %>">
        <div class="cols ths">
          <%= image_tag(team.image.icon) %>
        </div>
        <div class="cols">
          <div class="project-title"><%= team.name %></div>
          <div class="text">
            <%= "#{team.members.count} #{'member'.pluralize(team.members.count)}" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>