<%= form_for @milestone, :html => {:class => 'form-horizontal', :multipart => true, :data => {:abide => true}} do |f| %>
    <div class="pane3-padding">
      <div class="row">
        <div class="col-sm-12">
          <div class="project-card">
            <div class="card-block">
              <div class="form-content form-below">
                <% if @milestone.errors.any? %>
                  <div id="error_explanation">
                    <% @milestone.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= build_validated_field('milestone', 'name', 'Name', 'Cannot be blank', '[a-zA-Z]+', 'text',@milestone.name) %>
                <%= f.label :job_id, 'Team' %>
                <%= select_tag "milestone[job_id]", grouped_options_for_select(@grouped_jobs, @job.id) %>
                <%= build_validated_field('milestone', 'start_date', 'Start Date', 'Cannot be blank', '', 'date_field', @milestone.start_date) %>
                <%= build_validated_field('milestone', 'end_date', 'End Date', 'Cannot be blank', '', 'date_field', @milestone.end_date) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pane3-padding">
      <div class="right">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    @job, :class => 'button alert' %>
        <%= f.submit nil, :class => 'button success', data: {disable_with: "Saving"} %>
      </div>
    </div>
<% end %>


<script type="text/javascript">
    window.location = '#pane3'
</script>
