<div class="card-header text-uppercase text-muted">
  <div class="row">
    <div class="col-md-7">Milestone Name</div>
  </div>
</div>
<% milestones.each do |milestone| %>
  <div class="items-list">
    <div class="il-item">
      <div class="media">
        <div class="media-body">
          <div class="text-muted">
            <div class="row">
              <div class="col-md-7">
                <%= milestone.name.capitalize %>
              </div>
              <div class="col-sm-5">
                <span class="media-heading right">
                  <% if can? :edit, @job %>
                    <a href="#" data-options="align:left" data-dropdown="drop-<%= milestone.id %>" aria-controls="drop-<%= milestone.id %>" aria-expanded="false">
                      <i class="material-icons md-18">more_vert</i>
                    </a>
                    <ul id="drop-<%= milestone.id %>" data-dropdown-content class="f-dropdown" tabindex="-1">
                      <li>
                        <i class="fi-clipboard-pencil"></i> <%= link_to "Add Task", new_task_path(:project_id => @job.id, :milestone_id => milestone.id) %>
                      </li>
                      <hr>
                      <li>
                        <i class="fi-pencil"></i> <%= link_to "Edit Milestone", edit_milestone_path(milestone) %>
                      </li>
                      <li>
                        <i class="fi-x"></i> <%= link_to "Delete Milestone", milestone_path(milestone),:method=>:delete, data: { confirm: 'Are you sure you want to delete this milestone? This will also delete any associated tasks.' } %>
                      </li>
                    </ul>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
    $('.dropdown-toggle').click(function (){
        dropDownFixPosition($('button'),$('.dropdown-menu'));
    });
    function dropDownFixPosition(button,dropdown){
        var dropDownTop = button.offset().top + button.outerHeight();
        dropdown.css('top', dropDownTop + "px");
        dropdown.css('left', button.offset().left + "px");
    }
</script>