<div class="row">
  <div class="col-sm-12 pane3-padding">
    <% unless task.status == 'completed' %>
        <a class="button alert right status" data-options="align:left" data-dropdown="contentDrop-<%= task.id %>">
          <i class="material-icons">done</i>
        </a>
    <% else %>
        <a class="right" data-options="align:left" data-dropdown="contentDrop-<%= task.id %>">
          <i class="material-icons">done</i>
        </a>
    <% end %>
    <% if task.updatable_by_user(current_user) %>
        <div id="contentDrop-<%= task.id %>" data-dropdown-content class="f-dropdown content small completion-option completion-area drop-task-<%= task.id %>" style="display: block">
          <%= render :partial => 'tasks/completion', :locals => {:task => task} %>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="project-card">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="project-title">
              <%= task.name %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="project-title right date">
              <%= task.created_at.strftime('%d %B %Y') %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
          </div>
          <div class="col-sm-4">
            <div class="project-code right">
              <% if can? :edit, task %>
                  <a data-options="align:left" data-dropdown="drop-<%= task.id %>" class="dropdown right">
                    <i class="material-icons md-14">more_vert</i>
                  </a>
                  <ul id="drop-<%= task.id %>" data-dropdown-content class="f-dropdown">
                    <li>
                      <%= link_to "Edit", edit_task_path(task) %>
                    </li>
                    <li>
                      <%= link_to "Delete", task_path(task), :method => :delete %>
                    </li>
                  </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <div class="project-title">
              <div class="project-code">Priority</div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="project-code right">
              <span class="task-priority priority-<%= task.priority %>">
                  <%= task.priority %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 min-panel-size">
    <div class="project-card min-panel-size">
      <div class="card-block">
        <div class="row centered">
          <div class="col-sm-4 right-border">
            <div class="project-code">Created By</div>
            <span class="date"> <%= task.user.name %></span>
          </div>
          <div class="col-sm-4 right-border">
            <div class="project-code">Start Date</div>
            <span class="date"> <%= task.start_date.strftime('%d %B %Y') %></span>
          </div>
          <div class="col-sm-4">
            <div class="project-code">End Date</div>
            <span class="date"> <%= task.end_date.strftime('%d %B %Y') %></span>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
            <div class="project-code"><%= task.description %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.task.card').removeClass('active')
    $('.task-<%= task.id %>').addClass('active')
    $(window).scrollTop($('#pane3').offset().top)
    $(document).foundation();
</script>