<% if @team.present? %>
    <%= form_for @task, :html => {:class => 'form-horizontal task-form', :multipart => true, :data => {:abide => true}} do |f| %>
        <div class="pane3-padding">
          <div class="row">
            <div class="col-sm-12">
              <div class="project-card">
                <div class="card-block">
                  <div class="form-content form-below">
                    <%= f.hidden_field :task_id, :value => @root_task.id if @root_task.present? %>
                    <%= f.hidden_field :team_id, :value => @root_task.team_id if @root_task.present? %>
                    <%= f.hidden_field :project_id, :value => @root_task.project_id if @root_task.present? %>
                    <%= f.hidden_field :job_id, :value => @root_task.job_id if @root_task.present? %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>

                    <%= build_validated_field('task', 'name', 'Title', 'Cannot be blank', '', 'text', @task.name) %>
                    <%= build_field('task', 'description', 'Description', 'text_area', @task.description) %>

                    <% unless @root_task.present? %>
                      <%= f.label :team_id, 'Team' %>
                      <%= select_tag "task[team_id]", grouped_options_for_select(@grouped_teams, @team.id) %>
                    <% end %>

                    <% unless @root_task.present? %>
                      <%= f.label :job_id, 'Job' %>
                      <%= select_tag "task[job_id]", options_for_select([[@job.name, @job.id]])%>
                    <% end %>

                    <% unless @root_task.present? %>
                      <%= f.label :milestone_id, 'Milestone' %>
                      <%= select_tag "task[milestone_id]", options_for_select([[@milestone.name, @milestone.id]]), :id => "select_milestone"%>
                    <% end %>

                    <%= f.label :start_date, 'Start Date' %>
                    <%= text_field_tag("task[start_date]", @task.start_date, :class => '', :required => '', :pattern => '', :placeholder => 'Start Date', :id => 'start_date') %>
                    <%= f.label :end_date, 'End Date' %>
                    <%= text_field_tag("task[end_date]", @task.end_date, :class => '', :required => '', :pattern => '', :placeholder => 'End Date', :id => 'end_date') %>

                    <% if @task.status == 'completed' %>
                      <%= f.label :status, 'Status' %>
                      <%= select_tag('task[status]', options_for_select([['Pending', 'active'], ['Completed', 'completed']], @task.status)) %>
                    <% end %>

                    <div class="priority-selector">
                      <%= build_validated_select('task', 'priority', 'Priority', 'Should select at least one', '', false, @task.priority, ['Low', 'Medium', 'High', 'Showstopper']) %>
                    </div>
                    <br>
                    <br>
                  </div>
                </div>
                <div class="pane3-padding">
                  <div class="right">
                    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                                jobs_path, :class => 'button alert' %>
                    <%= f.submit nil, :class => 'button success', data: {disable_with: "Saving"} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="message">
      You have no access to a team in order to assign a task.
    </div>
<% end %>

<script type="text/javascript">
    window.location = '#pane3'
    $('select').not('.select_add').select2({'width': '100%'});


    $(document).ready(function () {

        $('#start_date').datetimepicker({
            timepicker:false,
            formatDate:'Y-m-d',
            minDate:'<%= @milestone.start_date.strftime("%Y-%m-%d") %>',
            maxDate:'<%= @milestone.end_date.strftime("%Y-%m-%d") %>'
        });
        $('#end_date').datetimepicker({
            timepicker:false,
            formatDate:'Y-m-d',
            minDate:'<%= @milestone.start_date.strftime("%Y-%m-%d") %>',
            maxDate:'<%= @milestone.end_date.strftime("%Y-%m-%d") %>'
        });
    });
</script>