<div class="card-header text-uppercase text-muted">
  <div class="row">
    <div class="col-md-7">Task Name</div>
    <div class="col-md-3">Team</div>
    <div class="col-md-2">Due</div>
  </div>
</div>
<% tasks.active.each do |task| %>
  <%= link_to tasks_path(task),:remote=>false do %>
    <div class="items-list">
      <div class="il-item">
          <div class="media">
            <div class="media-body">
              <div class="text-muted">
                <div class="row">
                  <div class="col-md-7">
                    <%= link_to task.name.capitalize, task_path(task) %>
                    <br>
                    <div class="date">
                      <b>Created By:</b> <%= task.user.name %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <span class="tag tag-teams" style="background-color: <%= task.team.color %>"><%= task.team.name %></span>
                  </div>
                  <div class="col-md-2">
                    <div class="date end-<%= (task.end_date <= 7.day.from_now && task.end_date >= Date.today) ? 'soon' : 'low' %>">
                      <%= task.time_to_end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% end %>
<% end %>