<div class="nested-fields card-padding">
  <div class="row">
    <% if f.object.name %>
      <div class="col-md-10">
        <%= f.label f.object.name %>
        <%= f.text_field :value %>
      </div>
    <% else %>
        <div class="col-md-10">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :value, 'Custom Field Value' %>
          <%= f.text_field :value %>
        </div>
    <% end %>
    <div class="col-md-2">
      <%= link_to_remove_association raw('<span class="fi-x"></span> Remove'), f, :class => 'button alert' %>
    </div>
  </div>
</div>