<div class="pane2-meta">
  <div class="title">Projects</div>
  <div class="right white">
    <% if can? :create, Job %>
        <%= link_to raw('<span class="fi-plus"></span> Add Project'), new_job_path, :remote => false, :class => 'button' %>
    <% end %>
  </div>
</div>
<div class="pane2-content">
  <% jobs.each do |jobs| %>
      <%= link_to job_path(jobs), :remote => true do %>
          <div class="project card-transparent transition prj-<%= jobs.id %>">
            <div class="cols ths">
              <%= image_tag(jobs.image.icon) %>
            </div>
            <div class="cols">
              <div class="project-title"><%= jobs.name %></div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>