<div class="pane2-meta">
  <div class="title">Projects</div>
  <div class="right white">
    <% if can? :create, Job %>
        <%= link_to raw('<span class="fi-plus"></span> Add Project'), new_job_path, :remote => false, :class => 'button' %>
    <% end %>
  </div>
</div>

<div class="pane2-content">
  <% jobs.each do |jobs| %>
    <%= link_to job_path(jobs), :remote => true do %>
      <div class="project card-transparent">
        <div class="col-md-2 vertical-align">
          <%= image_tag(jobs.image.icon) %>
        </div>
        <div class="col-md-5 vertical-align">
          <div class="project-list-title"><%= truncate(jobs.name, :length => 30).titleize  %></div>
        </div>
        <div class="col-md-2 vertical-align"></div>
        <div class="col-md-3 vertical-align">
          <div class="button <%= jobs.status %>"><%= jobs.status.titleize %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>