<div class="pane3-padding team-show">
  <div class="expanded row">
    <div class="col-sm-3">
      <div class="project-card">
        <div class="profile-avatar">
          <%= image_tag(job.image.thumbnail) %>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-10">
              <div class="project-title">
                <%= job.name %>
              </div>
              <div class="project-code"><%= job.code %></div>
            </div>
            <div class="col-sm-2">
              <% if can? :edit, job %>
                  <a href="#" data-options="align:left" data-dropdown="drop1" class="dropdown right">
                    <i class="material-icons md-18">more_vert</i>
                  </a>
                  <ul id="drop1" data-dropdown-content class="f-dropdown">
                    <li>
                      <i class="fi-pencil"></i> <%= link_to "Edit", edit_job_path(job) %>
                    </li>
                    <li>
                      <i class="fi-x"></i> <%= link_to "Delete", job_path(job),:method=>:delete, data: { confirm: 'Are you sure you want to delete this project?' } %>
                    </li>
                  </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="items-list">
          <div class="card-header text-uppercase">Project Fields</div>
          <% job.custom_fields.each do |field| %>
            <div class="il-item">
              <div class="media">
                <div class="media-body">
                  <h6 class="media-heading"><%= field.name %></h6>
                  <span class="text-muted"><%= field.value %></span>
                </div>
              </div>
            </div>
          <% end %>
          <div class="card-header text-uppercase">Task Stats</div>
          <div class="il-item">
            <div class="media">
              <div class="media-body">
                <h6 class="media-heading">Total Tasks</h6>
                <span class="text-muted"><%= job.total_tasks %> task(s) have been created</span>
              </div>
            </div>
          </div>
          <div class="il-item">
            <div class="media">
              <div class="media-body">
                <h6 class="media-heading">Completed Tasks</h6>
                <span class="text-muted"><%= job.completed_tasks %> task(s) have been completed</span>
              </div>
            </div>
          </div>
          <div class="il-item">
            <div class="media">
              <div class="media-body">
                <h6 class="media-heading">Incomplete Tasks</h6>
                <span class="text-muted">There are <%= job.incomplete_tasks %> incomplete tasks</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="project-card">
          <div class="card-header text-uppercase">Description</div>
          <div class="items-list">
            <div class="il-item">
                <div class="media">
                  <div class="media-body">
                    <h6 class="media-heading"><%= job.description %></h6>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="project-card">
          <div class="data-container">
            <dl class="tabs" data-tab>
              <dd><a href="#job-team-list">
                Team <span class="tag tag-members"><%= job.teams.count %></span>
              </a></dd>
              <dd><a href="#job-task-list">
                Tasks <span class="tag tag-managers"><%= job.total_tasks %></span>
              </a></dd>
              <dd><a href="#job-milestone-list">
                Milestones <span class="tag tag-members"><%= job.milestones.count %></span>
              </a></dd>
            </dl>
            <div class="tabs-content">
              <div class="content active" id="job-team-list">
                <div class="card-header"></div>
                <%= render :partial => 'teams/team_listing', :locals => {:teams => @teams.present? ? @job.teams : @job.teams} %>
              </div>
              <div class="content" id="job-task-list">
                <div class="card-header"></div>
                <%= render :partial => 'tasks/task_job_list', :locals => {:tasks => @job.tasks} %>
              </div>
              <div class="content" id="job-milestone-list">
                <div class="card-header text-uppercase"></div>
                <%= render :partial => 'milestones/milestone_list', :locals => {:milestones => @job.milestones} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="project-card">
          <div class="card-header">
            <%= job.name %> Timeline
            <div class="right">
              <% if can? :edit, @job %>
                  <%= link_to raw('<span class="fi-plus"></span> Add Milestone'), new_milestone_path(:job_id => job.id), :remote => false, :class => 'tag-milestone' %>
              <% end %>
            </div>
          </div>
          <div class="items-list">
            <div class="il-item">
              <a class="text-black" href="#">
                <div class="media">
                  <div class="media-body">
                    <div id="chart_div"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('.team-card').removeClass('active')
    $('.team-<%= job.id %>').addClass('active')

    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawGanttChart);

    function drawGanttChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');
        data.addRows([
            <% project_status = (@job.tasks.count == 0) ? 0 : ((@job.tasks.completed.count.to_f / @job.tasks.count.to_f) * 100).to_i %>
              ['<%= job.name %>', '<%= job.name %>',
                new Date('<%= @job.start_date.strftime("%Y-%m-%d") %>'), new Date('<%= @job.end_date.strftime("%Y-%m-%d") %>'), null,  <%= project_status %>,  null],
            <% job.milestones.each do |milestone| %>
              <% milestone_status = (milestone.tasks.count == 0) ? 0 : ((milestone.tasks.completed.count.to_f / milestone.tasks.count.to_f) * 100).to_i %>
              ['<%= milestone.name %>', '<%= milestone.name %>',
                  new Date('<%= milestone.start_date.strftime("%Y-%m-%d") %>'), new Date('<%= milestone.end_date.strftime("%Y-%m-%d") %>'), null, <%= milestone_status %>, null],
            <% end %>
        ]);

        var options = {
            gantt: {
                criticalPathEnabled: false,
                barHeight: 15,
                barCornerRadius: 0
            }
        };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>