<ul class="side-nav sidebar-links top-set">
  <li class="navigation-title">Navigation</li>
  <li><%= link_to raw('<i class="fi-monitor"></i> Dashboard'), root_path, :class => current_class?(root_path) %></li>
  <li>
    <%= link_to raw("<i class='fi-clipboard-notes'></i> Tasks <span class='details right'>#{current_user.tasks.pending.count}</span>"), tasks_path, :class => current_class?(tasks_path) %>
  </li>

  <dl class="accordion report-list" data-accordion>
    <dd>
      <a href="#department_list" class="reports-link">
        <i class='fi-folder'></i>
        Departments
      </a>
      <div id="department_list" class="content report-options">
        <% if current_user.projects == 0 %>
          <li>No Departments Available</li>
        <% else %>
          <li><div class="square" style="border: solid 5px #ffd800;"></div> <%= link_to 'All Departments', projects_path, :remote => false %></li>
          <li class="teams-menu-title">My Departments</li>
          <% current_user.joined_projects.uniq.each do |team| %>
            <li>
              <div class="square" style="border: solid 5px <%=team.color %>;"></div> <%= link_to team.name, project_path(team), :remote => false %>
            </li>
          <% end %>
        <% end %>
      </div>
    </dd>
  </dl>
  <dl class="accordion report-list" data-accordion>
    <dd>
      <a href="#team_list" class="reports-link">
        <i class='fi-torsos-all'></i>
        Teams
      </a>
      <div id="team_list" class="content report-options">
        <% if current_user.teams.unarchived.count == 0 %>
          <li>No Teams Available</li>
        <% else %>

          <li><div class="square" style="border: solid 5px #ffd800;"></div> <%= link_to 'All Teams', teams_path, :remote => false %></li>
          <li class="teams-menu-title">My Teams</li>
          <% current_user.teams.unarchived.uniq.each do |team| %>
            <li>
              <div class="square" style="border: solid 5px <%=team.color %>;"></div> <%= link_to team.name, team_path(team), :remote => false %>
            </li>
          <% end %>

        <% end %>
      </div>
    </dd>
  </dl>

  <li><%= link_to raw("<i class='fi-torso'></i> Projects"), jobs_path, :class => current_class?(jobs_path) %></li>
  <li><%= link_to raw("<i class='fi-torso'></i> Users"), users_path, :class => current_class?(users_path) %></li>
</ul>
<ul class="user-links side-nav sidebar-links">
  <% if user_signed_in? %>
      <li>
        <%= link_to(raw("<i class=\"material-icons\">person_outline</i> #{current_user.name}"), user_path(current_user)) %>
      </li>
      <li>
        <%= link_to(raw('<i class="material-icons">power_settings_new</i> Logout'), destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path) %>
      </li>
  <% end %>
</ul>
<div class='notifications top-rights alert-area'></div>
<script type="text/javascript">
    <% if flash.now[:alert].present?  %>
        $('.alert-area').notify({message: { text: "<%= flash.now[:alert] %>" }, type: 'tracker-alert',fadeOut: { enabled: true, delay: 10000 }}).show();
    <% end %>
    <% if flash.now[:notice].present?  %>
        $('.alert-area').notify({message: { text: "<%= flash.now[:notice] %>" }, type: 'tracker-alert',fadeOut: { enabled: true, delay: 10000 }}).show();
    <% end %>
</script>