<div class="show-for-medium-only">
  <li><%= link_to raw('<i class="fi-monitor"></i> Dashboard'), root_path %></li>
  <li><%= link_to raw("<i class='fi-folder'></i> Departments"), projects_path %></li>
  <li><%= link_to raw("<i class='fi-torsos-all'></i> Teams"), teams_path %></li>
  <li><%= link_to raw("<i class='fi-shield'></i> Projects"), jobs_path %></li>
  <li><%= link_to raw("<i class='fi-torso'></i> Users"), users_path %></li>

  <% if user_signed_in? %>
      <li class="vertical-align">
        <%= image_tag(current_user.image.icon20) %>
      </li>
      <li class="vertical-align">
        <%= link_to( current_user.name, user_path(current_user)) %>
      </li>
      <li class="vertical-align">
        <%= link_to(raw("<i class='fi-power'></i> Logout"), destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path) %>
      </li>
  <% end %>
</div>